@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100%;
  overscroll-behavior-x: none; /* Impede o efeito "elástico" no iPhone */
}

:root {
  --background: #050505;
  --foreground: #ffffff;
  --primary: #9333ea; /* Roxo Vulp */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Evita rolagem lateral indesejada */
}

/* Utilitário para texto gradiente bonito */
.text-gradient {
  background: linear-gradient(to right, #fff, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}